{% extends 'base.html' %}

{% block content %}
<div>
    <body style="background-color:powderblue;">

        <h1 style="border: 2px solid Tomato;text-align:center;">Cubrix </h1>
        <marquee> <h4 style="color:blueviolet">Cubrix</h4></marquee>
        <p>&bull;&nbsp;Cubrix is a platform for online shopping</p>
        <p>&bull;&nbsp;We provide you the best deals for your shopping</p>
        <p><i>
            &bull;&nbsp;This as an E-shop website application
        </i></p>
        <p><i>
            &bull;&nbsp;Modern clothes and design wears are Trendy here !!!!!!!!!
        </i></p>
        <p><i>
            &bull;&nbsp;Hub for Fashion Clothes
        </i></p>
        
        <p style="font-size:100%; "><i>&bull;&nbsp;     Happy shoping </i>&#128512;&#128512;&#128512;</p>
        <p><i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&ndash;&nbsp;Chaitanya Sai Beesabathuni.
        </i></p>
        
</div>

{% endblock %}